<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lix7.bossserver.mapper.LcVinImportsMapper">
  <resultMap id="BaseResultMap" type="com.lix7.bossserver.pojo.LcVinImports">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="success" jdbcType="INTEGER" property="success" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="fail" jdbcType="INTEGER" property="fail" />
    <result column="rep" jdbcType="INTEGER" property="rep" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="import_date" jdbcType="VARCHAR" property="importDate" />
    <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, channel, total, success, status, fail, rep, user, import_date, update_date, remark
  </sql>
  <select id="selectByExample" parameterType="com.lix7.bossserver.pojo.LcVinImportsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lc_vin_imports
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lc_vin_imports
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lc_vin_imports
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lix7.bossserver.pojo.LcVinImportsExample">
    delete from lc_vin_imports
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lix7.bossserver.pojo.LcVinImports">
    insert into lc_vin_imports (id, channel, total, 
      success, status, fail, 
      rep, user, import_date, 
      update_date, remark)
    values (#{id,jdbcType=INTEGER}, #{channel,jdbcType=VARCHAR}, #{total,jdbcType=INTEGER}, 
      #{success,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{fail,jdbcType=INTEGER}, 
      #{rep,jdbcType=INTEGER}, #{user,jdbcType=VARCHAR}, #{importDate,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lix7.bossserver.pojo.LcVinImports">
    insert into lc_vin_imports
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="success != null">
        success,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="fail != null">
        fail,
      </if>
      <if test="rep != null">
        rep,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="importDate != null">
        import_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="success != null">
        #{success,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="fail != null">
        #{fail,jdbcType=INTEGER},
      </if>
      <if test="rep != null">
        #{rep,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="importDate != null">
        #{importDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lix7.bossserver.pojo.LcVinImportsExample" resultType="java.lang.Long">
    select count(*) from lc_vin_imports
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lc_vin_imports
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.channel != null">
        channel = #{row.channel,jdbcType=VARCHAR},
      </if>
      <if test="row.total != null">
        total = #{row.total,jdbcType=INTEGER},
      </if>
      <if test="row.success != null">
        success = #{row.success,jdbcType=INTEGER},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=INTEGER},
      </if>
      <if test="row.fail != null">
        fail = #{row.fail,jdbcType=INTEGER},
      </if>
      <if test="row.rep != null">
        rep = #{row.rep,jdbcType=INTEGER},
      </if>
      <if test="row.user != null">
        user = #{row.user,jdbcType=VARCHAR},
      </if>
      <if test="row.importDate != null">
        import_date = #{row.importDate,jdbcType=VARCHAR},
      </if>
      <if test="row.updateDate != null">
        update_date = #{row.updateDate,jdbcType=VARCHAR},
      </if>
      <if test="row.remark != null">
        remark = #{row.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lc_vin_imports
    set id = #{row.id,jdbcType=INTEGER},
      channel = #{row.channel,jdbcType=VARCHAR},
      total = #{row.total,jdbcType=INTEGER},
      success = #{row.success,jdbcType=INTEGER},
      status = #{row.status,jdbcType=INTEGER},
      fail = #{row.fail,jdbcType=INTEGER},
      rep = #{row.rep,jdbcType=INTEGER},
      user = #{row.user,jdbcType=VARCHAR},
      import_date = #{row.importDate,jdbcType=VARCHAR},
      update_date = #{row.updateDate,jdbcType=VARCHAR},
      remark = #{row.remark,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lix7.bossserver.pojo.LcVinImports">
    update lc_vin_imports
    <set>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="success != null">
        success = #{success,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="fail != null">
        fail = #{fail,jdbcType=INTEGER},
      </if>
      <if test="rep != null">
        rep = #{rep,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="importDate != null">
        import_date = #{importDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lix7.bossserver.pojo.LcVinImports">
    update lc_vin_imports
    set channel = #{channel,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      success = #{success,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      fail = #{fail,jdbcType=INTEGER},
      rep = #{rep,jdbcType=INTEGER},
      user = #{user,jdbcType=VARCHAR},
      import_date = #{importDate,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>