<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lix7.bossserver.mapper.TcLicenseTscMapper">
  <resultMap id="BaseResultMap" type="com.lix7.bossserver.pojo.TcLicenseTsc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tsc_uuid" jdbcType="VARCHAR" property="tscUuid" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="license_duration" jdbcType="BIGINT" property="licenseDuration" />
    <result column="cvl_uuids" jdbcType="VARCHAR" property="cvlUuids" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="verify_remark" jdbcType="VARCHAR" property="verifyRemark" />
    <result column="apply_by" jdbcType="VARCHAR" property="applyBy" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="verify_by" jdbcType="VARCHAR" property="verifyBy" />
    <result column="verify_time" jdbcType="TIMESTAMP" property="verifyTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, channel_id, status, tsc_uuid, mode, priority, start_time, end_time, license_duration, 
    cvl_uuids, remark, verify_remark, apply_by, apply_time, verify_by, verify_time, is_delete, 
    create_time, update_time, create_by, update_by
  </sql>
  <select id="selectByExample" parameterType="com.lix7.bossserver.pojo.TcLicenseTscExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tc_license_tsc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tc_license_tsc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tc_license_tsc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lix7.bossserver.pojo.TcLicenseTscExample">
    delete from tc_license_tsc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lix7.bossserver.pojo.TcLicenseTsc">
    insert into tc_license_tsc (id, channel_id, status, 
      tsc_uuid, mode, priority, 
      start_time, end_time, license_duration, 
      cvl_uuids, remark, verify_remark, 
      apply_by, apply_time, verify_by, 
      verify_time, is_delete, create_time, 
      update_time, create_by, update_by
      )
    values (#{id,jdbcType=INTEGER}, #{channelId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{tscUuid,jdbcType=VARCHAR}, #{mode,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{licenseDuration,jdbcType=BIGINT}, 
      #{cvlUuids,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{verifyRemark,jdbcType=VARCHAR}, 
      #{applyBy,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}, #{verifyBy,jdbcType=VARCHAR}, 
      #{verifyTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lix7.bossserver.pojo.TcLicenseTsc">
    insert into tc_license_tsc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tscUuid != null">
        tsc_uuid,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="licenseDuration != null">
        license_duration,
      </if>
      <if test="cvlUuids != null">
        cvl_uuids,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="verifyRemark != null">
        verify_remark,
      </if>
      <if test="applyBy != null">
        apply_by,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="verifyBy != null">
        verify_by,
      </if>
      <if test="verifyTime != null">
        verify_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tscUuid != null">
        #{tscUuid,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="licenseDuration != null">
        #{licenseDuration,jdbcType=BIGINT},
      </if>
      <if test="cvlUuids != null">
        #{cvlUuids,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="verifyRemark != null">
        #{verifyRemark,jdbcType=VARCHAR},
      </if>
      <if test="applyBy != null">
        #{applyBy,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyBy != null">
        #{verifyBy,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null">
        #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lix7.bossserver.pojo.TcLicenseTscExample" resultType="java.lang.Long">
    select count(*) from tc_license_tsc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tc_license_tsc
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.channelId != null">
        channel_id = #{row.channelId,jdbcType=VARCHAR},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=INTEGER},
      </if>
      <if test="row.tscUuid != null">
        tsc_uuid = #{row.tscUuid,jdbcType=VARCHAR},
      </if>
      <if test="row.mode != null">
        mode = #{row.mode,jdbcType=INTEGER},
      </if>
      <if test="row.priority != null">
        priority = #{row.priority,jdbcType=INTEGER},
      </if>
      <if test="row.startTime != null">
        start_time = #{row.startTime,jdbcType=VARCHAR},
      </if>
      <if test="row.endTime != null">
        end_time = #{row.endTime,jdbcType=VARCHAR},
      </if>
      <if test="row.licenseDuration != null">
        license_duration = #{row.licenseDuration,jdbcType=BIGINT},
      </if>
      <if test="row.cvlUuids != null">
        cvl_uuids = #{row.cvlUuids,jdbcType=VARCHAR},
      </if>
      <if test="row.remark != null">
        remark = #{row.remark,jdbcType=VARCHAR},
      </if>
      <if test="row.verifyRemark != null">
        verify_remark = #{row.verifyRemark,jdbcType=VARCHAR},
      </if>
      <if test="row.applyBy != null">
        apply_by = #{row.applyBy,jdbcType=VARCHAR},
      </if>
      <if test="row.applyTime != null">
        apply_time = #{row.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.verifyBy != null">
        verify_by = #{row.verifyBy,jdbcType=VARCHAR},
      </if>
      <if test="row.verifyTime != null">
        verify_time = #{row.verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.isDelete != null">
        is_delete = #{row.isDelete,jdbcType=TINYINT},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updateTime != null">
        update_time = #{row.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.createBy != null">
        create_by = #{row.createBy,jdbcType=VARCHAR},
      </if>
      <if test="row.updateBy != null">
        update_by = #{row.updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tc_license_tsc
    set id = #{row.id,jdbcType=INTEGER},
      channel_id = #{row.channelId,jdbcType=VARCHAR},
      status = #{row.status,jdbcType=INTEGER},
      tsc_uuid = #{row.tscUuid,jdbcType=VARCHAR},
      mode = #{row.mode,jdbcType=INTEGER},
      priority = #{row.priority,jdbcType=INTEGER},
      start_time = #{row.startTime,jdbcType=VARCHAR},
      end_time = #{row.endTime,jdbcType=VARCHAR},
      license_duration = #{row.licenseDuration,jdbcType=BIGINT},
      cvl_uuids = #{row.cvlUuids,jdbcType=VARCHAR},
      remark = #{row.remark,jdbcType=VARCHAR},
      verify_remark = #{row.verifyRemark,jdbcType=VARCHAR},
      apply_by = #{row.applyBy,jdbcType=VARCHAR},
      apply_time = #{row.applyTime,jdbcType=TIMESTAMP},
      verify_by = #{row.verifyBy,jdbcType=VARCHAR},
      verify_time = #{row.verifyTime,jdbcType=TIMESTAMP},
      is_delete = #{row.isDelete,jdbcType=TINYINT},
      create_time = #{row.createTime,jdbcType=TIMESTAMP},
      update_time = #{row.updateTime,jdbcType=TIMESTAMP},
      create_by = #{row.createBy,jdbcType=VARCHAR},
      update_by = #{row.updateBy,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lix7.bossserver.pojo.TcLicenseTsc">
    update tc_license_tsc
    <set>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tscUuid != null">
        tsc_uuid = #{tscUuid,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="licenseDuration != null">
        license_duration = #{licenseDuration,jdbcType=BIGINT},
      </if>
      <if test="cvlUuids != null">
        cvl_uuids = #{cvlUuids,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="verifyRemark != null">
        verify_remark = #{verifyRemark,jdbcType=VARCHAR},
      </if>
      <if test="applyBy != null">
        apply_by = #{applyBy,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyBy != null">
        verify_by = #{verifyBy,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null">
        verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lix7.bossserver.pojo.TcLicenseTsc">
    update tc_license_tsc
    set channel_id = #{channelId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tsc_uuid = #{tscUuid,jdbcType=VARCHAR},
      mode = #{mode,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      license_duration = #{licenseDuration,jdbcType=BIGINT},
      cvl_uuids = #{cvlUuids,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      verify_remark = #{verifyRemark,jdbcType=VARCHAR},
      apply_by = #{applyBy,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      verify_by = #{verifyBy,jdbcType=VARCHAR},
      verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>