<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.springcloud.dao.PaymentDao">

    <resultMap type="com.study.springcloud.entities.Payment" id="PaymentMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="serial" column="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="getPaymentById" resultMap="PaymentMap" parameterType="Long">
        select id,serial
        from payment
        where id = #{id}
    </select>


    <insert id="insert" parameterType="Payment" keyProperty="id" useGeneratedKeys="true">
        insert into payment(serial)
        values (#{serial})
    </insert>


</mapper>